
*{

    margin: 0%;
    padding: 0%;
} 
/* DEBUT BODY */

body
{
    background-color: #dc3545;
    
 }
body{
    font-family: Arial, Helvetica, sans-serif;
}
.enregistrer{
    margin-top: 20px;
    text-align: center;
    color: rgb(223, 7, 7);
    text-decoration: underline 2px;
}
.formulaire{
    border: black solid 1px;
    border-radius: 5px;
    background-color: white;
    width: 50%;
}
.centrer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc1{
    border: black solid 1px;
    margin-top: 40px;
    border-radius: 30px;
}
.input{
    display: block;
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border: red 2px solid;
    border-radius: 2px;
}
.soumettre{
    color: white;
    background-color: red;
    border:black 2px solid;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    margin-top: 35px;
    margin-bottom: 30px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
.simplonauf{
    border: solid black 2px;
    color: white;
    text-align: right;
    width: 70%;
    margin-top: 90px;
}
.aouaga{
    background-color: black;
    color: white;
    width: 40%;
    float: right;
}
.imgsimplon{
    float: right;
    margin-top: 20px;
}
/* h5 à specifier */
h5{
    font-size: 90%;
    font-weight: bold;
    margin-right: 10px;
    
}
   /* FIN BODY*/

/* entete ls*/
.ls {
    padding: 15px;
    background: #CC0033;
    text-decoration: none;
    color: #fff;
}
.r1{
    justify-content: center;
    align-items: center;

}
.AS{
    color: #CC0033;
    font-size: 15px;
}

.copyright {color: white}

/* tableau*/
table {
    border: 1px solid rgb(14, 13, 13);
    border-collapse: collapse;
    margin: 15px;
    padding: 0;
    width: 100%;
    table-layout: fixed;

  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid rgb(12, 12, 12);
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  .sc{
      height: 600px;
      align-items: center;
      margin-top: 7px;
      width: 1320px;
      margin-left: 13px;
      padding: 75px;
  }

  .tableau{
      margin-bottom:55px;
    
     
  }

  .lda{
      color: #CC0033;
      margin-left: 300px;
      text-decoration-line: underline;
      font-size: 50px
  }
  
  .message_enreg{
    text-align: center;
  }
  /*Le FOOTER*/

